body{
margin: 10px; 
background-color: rgb(238, 223, 217);   
}


/*configuracion para recetas*/
.recetasRicas
{
    background-color:rgb(181, 214, 32) ;
    height: 120px;
    width:350px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:14px;
    text-align: center;
    justify-content: center;
    list-style:none;
    
}

/*configuracion para header de conocenos*/

.headerBanner{
position:relative;

}

/*configuracion flex para el menu*/

#contentFlex{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(27, 1, 1) 0%, rgba(150, 46, 42, 0.944) 53%, rgb(150, 40, 54) 93%);
    list-style: none;
    margin:0;
    padding: 0;
    height: 70px;
    width:100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    
}

/*configuracion para section*/
section{
    display: flex;
    background-color: rgb(248, 221, 210);
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    overflow:hidden;
    justify-content: center;
}
.parUno{
    width: 40%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(228, 196, 183) ;

}

#parTres{
    width: 30%; 
    text-align:center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:rgb(228, 196, 183) ;
    margin-bottom: 10px;

}

.sectionRecetas{
    display: flex;
    background-color: rgb(248, 221, 210);
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    overflow:hidden;
    
    
}
/*configuracion para listas*/


li{
    text-align: center;
    width: 24.7%;
 }
.liRecetas{
    text-align: left;
    width:100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style: circle;
}
  


/*configuracion para enlaces*/
a{
    color: rgb(117, 10, 6);
    font-size: 16 px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}
.menuColor{
    color:white;
}

/*configuracion para titulos*/

h1{
    color: rgb(117, 10, 6);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration-line: underline;
}
h2{
    color: rgb(117, 10, 6);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration-line: underline;
}
h3{
    color: rgb(117, 10, 6);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-decoration-line: underline;
}


p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px ;
    text-align:center;
    letter-spacing: 1px;
    margin: 20px;
    
}

/*configuracion para loguito de whatsapp*/

.loguito
{
    position: fixed;
   bottom: 30px;
   right:30px;
}


/*configuracion para footer*/
footer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(27, 1, 1) 0%, rgba(150, 46, 42, 0.944) 53%, rgb(150, 40, 54) 93%);
    grid-area: footer;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:azure;
    font-size:13px ;
    padding: 15px;
    margin: 2px;
    }
.iconFooter{
        display: flex;
        flex-direction: column;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size:16px;
        margin: 10px;
        
}
.iconFooterText{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#idParaProbar{
    font-weight: bold;
    font-style: italic;
}
.redesSocialesFlex{
    color:white
}
.redesHoverFlex:hover{
    color:rgb(206, 65, 65);
    
}
@media only screen and (max-width:500px){
    #contentFlex{
        display:flex;
        flex-wrap: wrap;
        background: linear-gradient(90deg, rgb(27, 1, 1) 0%, rgba(150, 46, 42, 0.944) 53%, rgb(150, 40, 54) 93%);
        list-style: none;
        margin:0;
        padding: 0;
        height: 100px;
        width:100%;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        
    }
    
    .sectionRecetas{
        display: flex;
        background-color: rgb(248, 221, 210);
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        overflow:hidden;
    }
    #parTres{
        width: 100%; 
        text-align:center;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        background-color:rgb(228, 196, 183) ;
        margin-bottom: 10px;
    
    }

    li{
        text-align: center;
        width: 60%;
     }
    
     footer{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: linear-gradient(90deg, rgb(27, 1, 1) 0%, rgba(150, 46, 42, 0.944) 53%, rgb(150, 40, 54) 93%);
        grid-area: footer;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:azure;
        font-size:13px ;
        padding: 20px;
        margin: 3px;
        }
        .iconFooter{
            display: flex;
            flex-direction: column;
            text-align: center;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size:16px;
            margin: 10px;
            
        }

     
}